.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-inner {
    position: relative;
    padding: 16px;
    width: 100%;
    max-width: 500px;
    background-color: #242424;
    border-radius: 5px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: red;
    background-image: url("/close_btn.png");
    background-size: cover;
    border-radius: 7px;
}

.title {
    margin: none;
    text-decoration: underline;
}

.popup-form{
    margin-top: 20px;
}