.scroll-container {
    height: 600px;
    overflow-y: auto;
}

.add-btn{
    background-image: url('/add.png');
    background-size: contain;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: none;
    margin-bottom: 8%;
}