.scroll-container {
    height: 600px;
    overflow-y: auto;
}

.add-btn{
    background-image: url('/add.png');
    background-size: contain;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: none;
    margin-bottom: 8%;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem; /* Adjust the gap between columns */
    padding: 0.5rem;
}

.form-group label {
    font-size: 20px;
    font-weight: bold;
}

.form-group input {
    padding: 0.5rem;
}