.category-shelf{
    border-top: 5px solid rgb(49, 21, 4);
    border-bottom: 5px solid rgb(49, 21, 4);
    width: 100%;
    overflow-x: auto;
    height: 250px;
    position: relative;
}

.category{
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.add-icon{
    background-image: url('/add.png');
    background-size: cover;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: none;
    margin: auto 0px auto 0px;
}

.category-shelf .close-btn {
    position: absolute;
    top: 2px;
    right: 4px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: red;
    background-image: url("/close_btn.png");
    background-size: cover;
    border-radius: 7px;
    z-index: 99;
}